CHIMEREtests/PAPILA/PAPILA_0.1x0.1_anthro_ch4_v2.0_yearly_2020.nc
CHIMEREtests/PAPILA/PAPILA_0.1x0.1_anthro_nox_v2.0_yearly_2020.nc
CHIMEREtests/PAPILA/PAPILA_0.1x0.1_anthro_oc_v2.0_yearly_2020.nc
Teledt_ambiental/TP2_Clorofila-a/B1toB7_stack.tif
Teledt_ambiental/TP2_Clorofila-a/output/B1toB7_stack
Teledt_ambiental/TP2_Clorofila-a/B1toB7_stack.tif
Teledt_ambiental/TP2_Clorofila-a/B1toB7_stack.tif
Teledt_ambiental/TP2_Clorofila-a/B1toB7_stack.tif
Teledt_ambiental/TP3_HeatIslands/datos/ST_extent_centi.tif
Teledt_ambiental/TP2_Clorofila-a/B1toB7_stack.tif
